// Navigation Styles here
.nav-container {

    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed @silver;
    padding: 20px 0 5px 0;

    @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        font-family: 'Indie Flower';
        font-size: 4rem;
    }
    
    nav {
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 500px) {
            width: 100%;
            margin-top: 15px;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
        }
    }
}